.main-nav {
    display: none;
    flex-grow: 1;
}

.main-nav__links {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
    justify-content: center;
}

.main-nav__link {
    padding: 1.3rem;
    width: 33%;
    text-align: center;
}

.main-nav__link a {
    text-decoration: none;
    color: #C36F09;
    font-size: 1.5rem;
    letter-spacing: 2px;
}

.main-nav__link:nth-child(2) {
    border-right: 2px dotted #B6244F;
    border-left: 2px dotted #B6244F;
}

@media (min-width: 769px) {
    .main-nav {
        display: block;
    }
}