.project {
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    overflow: hidden;
    margin: 0.5rem 0;
    position: relative;
    border: 2px dotted #B6244F;
    box-shadow: none;
    position: relative;
}

.project__background {
    margin: 2px;
    border-radius: 25%;
    height: 100%;
}

.project__header,
.project__skills {
    transition: all 0.2s ease-in-out;
    position: absolute;
}

.project:hover .project__header {
    opacity: 0;
    transform: translateY(-100%);
}

.project:hover .project__skills {
    opacity: 0;
    transform: translateY(100%);
}

.project:hover .project__actions {
    opacity: 0.5;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.project__header {
    background-color: #212738;
    color: #C36F09;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom: 2px dotted #B6244F;
    top: 0;
}

.project__header h3 {
    margin: 0.5rem 0;
}

.project__header p {
    margin-bottom: 1.5rem;
}

.project__actions {
    opacity: 0;
    background: rgba(0, 0, 0, 0.5);
    display: -moz-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project__actions--action a {
    color: inherit;
}

.project__actions--action:hover svg {
    transform: scale(2);
}

.project__actions--action svg {
    font-size: 3rem;
    margin: 0 0.5rem;
    transition: transform 0.3s ease-in-out;
}

.project__skills {
    background-color: #212738;
    padding: 1.5rem 0 0.5rem;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-top: 2px dotted #B6244F;
    bottom: 0;
}

.project__skills--list {
    width: 90%;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.project__skills--list li {
    background-color: #212738;
    color: #C36F09;
    border: 2px dotted #C36F09;
    border-radius: 15px;
    padding: 0.3rem;
    margin: 0.2rem;
}

@media (max-width: 330px) {
    .project {
        width: 90%;
        height: 100%;
    }
}

@media (min-width: 491px) {
    .project {
        margin: 0.5rem;
    }
}