.footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    background: #FBB7C0;
    padding: 1rem 1rem 0 1rem;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer__copyright {
    padding: 0 0 1rem 0;
    color: #B6244F;
}

@media (min-width: 769px) {
    .footer {
        flex-direction: row;
        justify-content: space-evenly;
        padding: 1rem;
    }

    .footer__copyright {
        padding: 0;
    }
}