.about-page__header {
    text-align: center;
    color: #C36F09;
}

.about-page__section--about {
    text-align: justify;
    width: 90%;
    margin: 0 auto;
    line-height: 150%;
}

.about-page__section--about .about-page__header {
    margin-top: 0;
}

@media (min-width: 768px) {
    .about-page__section--about {
        margin-top: 2rem;
    }
}