.contact-page {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.contact-page h1 {
    text-align: center;
    font-size: 3rem;
    color: #C36F09;
}

.contact-list {
    list-style-type: none;
    margin: 2.5rem 0 0 0;
    padding: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
}

.contact-list__item {
    font-size: 3rem;
    margin: 0 1rem;
}

.contact-list__item a {
    text-decoration: none;
    color: #C36F09;
}

.contact-list__item span {
    display: none;
}

.contact-list__item svg {
    -webkit-animation: rotation-reverse 0.5s;
    animation: rotation-reverse 0.5s;
}

.contact-list__item:hover svg,
.contact-list__item:active svg {
    border: 2px dotted #B6244F;
    border-radius: 50%;
    transition: font-size 0.5s;
    -webkit-animation: rotation 0.5s forwards;
    animation: rotation 0.5s forwards;
    padding: 0.2rem;
}

@media (min-width: 481px) {
    .contact-page {
        height: 100%
    }

    .contact-page h1 {
        font-size: 2rem;
    }

    .contact-list {
        -ms-flex-direction: column;
        flex-direction: column;
        margin: 0;
    }

    .contact-list__item {
        margin: 0.5rem 0;
        font-size: 1.5rem;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        align-items: center;
    }

    .contact-list__item span {
        display: inline;
    }
}

@media (min-width: 769px) {
    .contact-page {
        margin-top: 2rem;
    }
    .contact-list {
         width: 60%;
         margin: 0 auto;
        font-size: 2.5rem;
    }

    .contact-list__item {
        -ms-flex-direction: row;
        flex-direction: row;
        align-items: center;
    }

    .contact-list__item a {
        margin-right: 2rem;
    }

    .contact-list__item svg {
        font-size: 2.5rem;
    }
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg) scale(1);
        -ms-transform: rotate(0deg) scale(1);
        transform: rotate(0deg) scale(1);
    } to {
        -webkit-transform: rotate(359deg) scale(3);
        -ms-transform: rotate(359deg) scale(3);
        transform: rotate(359deg) scale(3);
    }
}

@keyframes rotation {
    from {
        -webkit-transform: rotate(0deg) scale(1);
        -ms-transform: rotate(0deg) scale(1);
        transform: rotate(0deg) scale(1);
    } to {
        -webkit-transform: rotate(359deg) scale(3);
        -ms-transform: rotate(359deg) scale(3);
        transform: rotate(359deg) scale(3);
    }
}

@-webkit-keyframes rotation-reverse {
    from {
        -webkit-transform: rotate(359deg) scale(3);
        -ms-transform: rotate(359deg) scale(3);
        transform: rotate(359deg) scale(3);
    } to {
        -webkit-transform: rotate(0deg) scale(1);
        -ms-transform: rotate(0deg) scale(1);
        transform: rotate(0deg) scale(1);
    }
}

@keyframes rotation-reverse {
    from {
        -webkit-transform: rotate(359deg) scale(3);
        -ms-transform: rotate(359deg) scale(3);
        transform: rotate(359deg) scale(3);
    } to {
        -webkit-transform: rotate(0deg) scale(1);
        -ms-transform: rotate(0deg) scale(1);
        transform: rotate(0deg) scale(1);
    }
}