.main-page__header {
    font-family: 'League Spartan', sans-serif;
    font-size: 1.5rem;
    color: #FFF;
    position: relative;
    top: 10vh;
}

.animations {
    width: 7rem;
    height: 7rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.animations__circle {
    border: 2px dotted #B6244F;
    border-radius: 50%;
    position: absolute;
}

.animations__circle:first-child {
    width: 100%;
    height: 100%;
    border-width: 4px;
    animation: rotation 15s infinite linear;
}

.animations__circle:nth-child(2) {
    width: 50%;
    height: 50%;
    left: -30%;
    top: 10%;
    animation: rotation 5s infinite reverse linear;
}

.animations__circle:last-child {
    width: 70%;
    height: 70%;
    border-width: 8px;
    bottom: -25%;
    left: 20%;
    animation: rotation 8s infinite alternate ease-in-out;
}

@media (min-width: 769px) {
    .main-page__header {
        font-size: 2rem;
    }

    .animations {
        width: 10rem;
        height: 10rem;
        top: 2rem;
        right: 2rem;
    }
}

@media (min-width: 1024px) {
    .main-page__header {
        top: 0;
        font-size: 2.5rem;
        max-width: 80%;
    }

    .animations {
        width: 13rem;
        height: 13rem;
        top: 2rem;
        right: 2rem;
    }
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(359deg);
    }
}
