* {
  box-sizing: border-box;
}

html {
   height: 100%;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background: #212738;
  color: white;
  height: 100%;
}

#root {
  height: 100%;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}